/*
PRODUCT_CHANGE_59 테이블
  - (#)PRODUCTID    VARCHAR2(6)
  - (#)CDATE  VARCHAR2(8)
  - (#)NO      NUMBER
  - STATUSCODE     VARCHAR2(3)
  - PRODUCTPRICE     NUMBER
 
상품별 변경이력 1,000건
일평균 변경이력 10건
전체범위 처리 기준으로 SQL 작성

아래 요구사항에 맞는 SQL을 작성하세요.
필요 시 인덱스 재구성도 제시하세요.



1) 특정 상품에 해당하는 최종 건 찾기
   상품번호 변수   : PROD_ID
   출력 값 : PRODUCTID, CDATE, NO, STATUSCODE, PRODUCTPRICE

2) 전체 상품에 최종 건 찾기
   출력 값 : PRODUCTID, CDATE, NO, STATUSCODE, PRODUCTPRICE
   
3) 전체 상품별, STATUSCODE별 정보 출력
   출력 값 : PRODUCTID, STATUSCODE,  최대PRODUCTPRICE, 최소PRODUCTPRICE, 평균PRODUCTPRICE, 최종CDATE, 최종변경NO
   
※ 최종이란 CDATE가 가장 큰것 중 NO이 가장 큰것을 의미한다.
*/


-- 1.특정 상품에 해당하는 최종 건 찾기
-- 2. 전체 상품에 최종 건 찾기
SELECT PRODUCTID, STATUSCODE, MAXPRODUCTPRICE, MINPRODUCTPRICE, AVGPRODUCTPRICE, CDATE, NO
FROM (
   SELECT PRODUCTID, STATUSCODE , CDATE, NO
   ,MAX(PRODUCTPRICE) OVER (PARTITION BY PRODUCTID, STATUSCODE) MAXPRODUCTPRICE
   ,MIN(PRODUCTPRICE) OVER (PARTITION BY PRODUCTID, STATUSCODE) MINPRODUCTPRICE
   ,ROUND(AVG(PRODUCTPRICE) OVER (PARTITION BY PRODUCTID, STATUSCODE)) AVGPRODUCTPRICE
   ,ROW_NUMBER() OVER (PARTITION BY PRODUCTID, STATUSCODE ORDER BY CDATE DESC, NO DESC) RM
   FROM PRODUCT_CHANGE_59
) 
WHERE RM = 1;

SELECT PRODUCTID, CDATE, NO, STATUSCODE, PRODUCTPRICE
FROM 
(  SELECT PRODUCTID, STATUSCODE, CDATE, NO , MAX(PRODUCTPRICE), MIN(PRODUCTPRICE), ROUND(AVG(PRODUCTPRICE))
   FROM PRODUCT_CHANGE_59
   WHERE PRODUCTID = '000945'
   GROUP BY PRODUCTID, STATUSCODE, CDATE, NO
)
WHERE ROWNUM = 1 

 


DROP TABLE DATE_TEMP_59;
CREATE TABLE DATE_TEMP_59 AS
SELECT TO_CHAR(TO_DATE('20170319', 'YYYYMMDD') - LEVEL, 'YYYYMMDD') D_TIME
FROM DUAL CONNECT BY LEVEL <= 138;

CREATE PUBLIC SYNONYM DATE_TEMP_59 FOR DATE_TEMP_59;

DROP TABLE PRODUCT_CHANGE_59;
CREATE TABLE PRODUCT_CHANGE_59
  (
  PRODUCTID       VARCHAR2(6)    ,
  CDATE     VARCHAR2(8)    ,
  NO         NUMBER         ,
  STATUSCODE     VARCHAR2(2)    ,
  PRODUCTPRICE     NUMBER         ,
  CONSTRAINT PK_PRODUCT_CHANGE_59 PRIMARY KEY(PRODUCTID, CDATE, NO)
  );

-- CREATE PUBLIC SYNONYM PRODUCT_CHANGE_59 FOR PRODUCT_CHANGE_59;

INSERT INTO /*+ APPEND */ PRODUCT_CHANGE_59
SELECT LPAD(TO_CHAR(A.PRODUCTID), 6, '0') PRODUCTID,
       C.CDATE, B.NO, 
       LPAD(TO_CHAR(TRUNC(DBMS_RANDOM.VALUE(1,10))), 2, '0') STATUSCODE,
       TRUNC(DBMS_RANDOM.VALUE(50000, 1000000)) PRODUCTPRICE
FROM  (SELECT LEVEL PRODUCTID  FROM DUAL CONNECT BY LEVEL <= 1000) A,
      (SELECT LEVEL NO    FROM DUAL CONNECT BY LEVEL <=  10) B,
      (SELECT D_TIME CDATE FROM DATE_TEMP_59 WHERE D_TIME >= '20161208') C
ORDER BY DBMS_RANDOM.RANDOM();
      
COMMIT;
      
EXECUTE DBMS_STATS.GATHER_TABLE_STATS('SYSTEM', 'PRODUCT_CHANGE_59');

SELECT COUNT(*) FROM PRODUCT_CHANGE_59;

